.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
}

.page-not-found-title {
    font-size: 50px;
    font-weight: 500;
    color: black;
}

.page-not-found-subtitle {
    font-size: 20px;
    font-weight: 700;
    color: rgb(236, 68, 68);

}