.task {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 1rem;
    padding: 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.task:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem);
}